<div class="dashboard-container">

  <div class="dashboard-content">

    <div class="main-content">

      <!-- HERO -->

      <div class="hero-banner">

        <div>

          <h1>
            Employee Management Dashboard
          </h1>

          <p>
            Manage employees, analytics,
            attendance and enterprise workflows.
          </p>

          <button
            class="hero-btn"
            (click)="openModal()">

            <i class="bi bi-plus-circle"></i>

            Add Employee

          </button>

        </div>

        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">

      </div>

      <!-- STATS -->

      <div class="stats-grid">

        <div class="stat-card blue">

          <div>

            <span>Total Employees</span>

            <!-- <h2>{{ employees.length }}</h2> -->
            <h2>150</h2>
          </div>

          <i class="bi bi-people-fill"></i>

        </div>

        <div class="stat-card green">

          <div>

            <span>Departments</span>

            <h2>12</h2>

          </div>

          <i class="bi bi-diagram-3-fill"></i>

        </div>

        <div class="stat-card orange">

          <div>

            <span>Projects</span>

            <h2>18</h2>

          </div>

          <i class="bi bi-briefcase-fill"></i>

        </div>

        <div class="stat-card purple">

          <div>

            <span>Attendance</span>

            <h2>92%</h2>

          </div>

          <i class="bi bi-calendar-check-fill"></i>

        </div>

      </div>

      <!-- DIRECTORY -->

      <div class="employee-directory-card">

        <div class="directory-header">

          <div>

            <h2 class="directory-title">
              Employee Directory
            </h2>

            <p class="directory-subtitle">
              Manage employees and organization profiles
            </p>

          </div>

          <div class="header-actions">

            <div class="search-box">

              <i class="bi bi-search"></i>

              <input
                type="text"
                placeholder="Search employee..."
                [(ngModel)]="searchText">

            </div>

            <button
              class="add-btn"
              (click)="openModal()">

              <i class="bi bi-plus-circle"></i>

              Add Employee

            </button>

          </div>

        </div>

        <!-- TABLE -->

        <div class="table-responsive">

          <table class="table custom-table align-middle">

            <thead>

              <tr>

                <th>Employee</th>
                <th>Department</th>
                <th>Role</th>
                <th>Status</th>
                <th>Experience</th>
                <th>Performance</th>
                <th>Action</th>

              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let emp of filteredEmployees; let i = index">

                <td>

                  <div class="employee-profile">

                    <div class="employee-image">

                      <img [src]="emp.image">

                      <span
                        [class.online-dot]="emp.status === 'Active'"
                        [class.leave-dot]="emp.status === 'On Leave'">
                      </span>

                    </div>

                    <div>

                      <h6>
                        {{ emp.name }}
                      </h6>

                      <p>
                        {{ emp.email }}
                      </p>

                    </div>

                  </div>

                </td>

                <td>

                  <span class="department-badge dev">

                    {{ emp.department }}

                  </span>

                </td>

                <td>

                  {{ emp.role }}

                </td>

                <td>

                  <span
                    class="status-badge"
                    [class.active]="emp.status === 'Active'"
                    [class.leave]="emp.status === 'On Leave'">

                    {{ emp.status }}

                  </span>

                </td>

                <td>

                  {{ emp.experience }}

                </td>

                <td>

                  <div class="progress progress-custom">

                    <div
                      class="progress-bar"
                      [style.width.%]="emp.performance">

                      {{ emp.performance }}%
 
                    </div>

                  </div>

                </td>

                <td>

                  <div class="action-buttons">

                    <button
                      class="icon-btn view-btn">

                      <i class="bi bi-eye-fill"></i>

                    </button>

                    <button
                      class="icon-btn edit-btn">

                      <i class="bi bi-pencil-fill"></i>

                    </button>

                    <button
                      class="icon-btn delete-btn"
                      (click)="deleteEmployee(i)">

                      <i class="bi bi-trash-fill"></i>

                    </button>

                  </div>

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- MODAL -->

<div
  class="custom-modal"
  *ngIf="showModal">

  <div class="modal-box">

    <div class="modal-header-custom">

      <h3>
        Add Employee
      </h3>

      <button
        class="close-btn"
        (click)="closeModal()">

        ✕

      </button>

    </div>

    <div class="modal-body-custom">

      <div class="mb-3">

        <label>Name</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="newEmployee.name">

      </div>

      <div class="mb-3">

        <label>Email</label>

        <input
          type="email"
          class="form-control"
          [(ngModel)]="newEmployee.email">

      </div>

      <div class="mb-3">

        <label>Department</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="newEmployee.department">

      </div>

      <div class="mb-3">

        <label>Role</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="newEmployee.role">

      </div>

      <div class="mb-3">

        <label>Experience</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="newEmployee.experience">

      </div>

      <div class="modal-footer-custom">

        <button
          class="cancel-btn"
          (click)="closeModal()">

          Cancel

        </button>

        <button
          class="save-btn"
          (click)="addEmployee()">

          Add Employee

        </button>

      </div>

    </div>

  </div>

</div>